<section id="banner" class="section-banner">
  <div class="container">
    <a href="//twitter.com/ScalaDownunder" target="_blank" title="Twitter">
      <svg class="banner-icon">
        <use xlink:href="#icon-twitter" />
      </svg>
    </a>
    <a href="https://plus.google.com/u/2/b/100165580353216554104/100165580353216554104/about" target="_blank" title="Google+">
      <svg class="banner-icon">
        <use xlink:href="#icon-google" />
      </svg>
    </a>
    <a href="https://www.youtube.com/channel/UCNq3ohzE6_rYhI6wADiBvAw" target="_blank" title="YouTube">
      <svg class="banner-icon">
        <use xlink:href="#icon-youtube" />
      </svg>
    </a>
    <span class="separator">|</span>
    <span class="date">Returning for 2015</span>
  </div>
</section>
