<section id="callforpapers" class="section-call-for-papers">
  <h2>Call for Papers</h2>
  <div class="title-separator"></div>
  <div class="container">

    <p><strong>Scala Downunder 2016 - Call For Papers</strong></p>
    <p>Scala Downunder 2016 CFP is now open. Once again the conference will bring some functional programming magic to the Southern Hemisphere.</p>
    <p>The conference goal is to empower the community by sharing our collective love and knowledge of functional programming. Attendees have a very broad mix of experience, from the seasoned developers to the very early stages of evaluation and/or adoption, hence we're looking for a good mix of topics, frameworks and levels.</p>
    <p>The first day will be single track and all sessions will be recorded.</p>
    <p>The second day will be less formal with workshops and pairing sessions. Depending on submissions we'll add more talks.</p>
    <p>We're encouraging as many people to speak as possible and here are some ideas:
    <ul>
      <li>Getting started with FP, or any specific FP language, e.g. Scala, Clojure, Haskell, F#, Erlang, Swift, OCaml, Idris, Elm, etc.</li>
      <li>Tips and tricks</li>
      <li>Functional Programming</li>
      <li>Frameworks, e.g. Play, Yesod, Pedestal or Datomic</li>
      <li>FP performance / scalability</li>
      <li>Apache Spark</li>
      <li>Functional Reactive Programming (FRP) and Reactive ... anything/everything</li>
      <li>Distributed Systems</li>
      <li>Build systems</li>
      <li>Type systems</li>
    </ul>
    </p>
    <p>In order to submit your interest in speaking at the 2016 conference <a href="http://goo.gl/forms/2QQJc6kLCR" target="_blank">please complete the form</a> by 31 October 2015.</p>
    <p>Should you be successful we will contact you in November to confirm your participation as a speaker at Scala Downunder 2016.</p>
  </div>
</section>
