<section id="callforpapers" class="section-call-for-papers">
  <h2>Call for Papers</h2>
  <div class="title-separator"></div>
  <div class="container">

    <p><strong>Come share your stories at Scala Matsuri 2016!</strong></p>

    <p>We are excited to announce that the third Scala Matsuri will be held on January 30th and 31st, 2016 at Tokyo International Exchange Center. Please submit your sessions and save the dates on your calendar. This CFP will close on October 15th 00:00 JST.</p>

    <p>Matsuri, meaning festival, is about time and space out of the everyday. It's about mustering up the courage to do something cool (even though we are normally shy). We want to make it a fun experience, regardless of gender, race, and many different backgrounds. All participants, including speakers and sponsors, are asked to be respectful to each other and follow the <a href="#conduct">code of conduct</a>.</p>

    <p>In particular, we want to make it a fun event for those visiting Japan from overseas. So here are some of the things we will do this year:</p>

    <p>
      CFP in English and Japanese &lt; you are here
      <br>
      Speakers are decided by votes
      <br>
      All slides in English
      <br>
      Separate tracks for presentations in English and Japanese (with a few exceptions possible)
      <br>
      Professional interpreters (English/Japanese bidirection) in two main halls
      <br>
      Travel support for speakers with most votes (up to $2000 USD, details may vary)
      <br>
      Organize groups to hang out at bars after the conference if you're up for it
      <br>
      We are looking for topics that you think Scala community would be interested. We have two session lengths: 40 minutes and 15 minutes. Prepare an abstract of your talk (600 characters or less), and submit your proposal. The sessions will be decided by votes by your fellow Matsuri goers.
    </p>

    <p><a href="#">Scala Matsuri 2016 CFP Application Form</a></p>

    <p>While the CFP is open, we'll accept cancellation or modification of the proposal. For the change or any other question, please contact us at <a href="mailto:info@scalamatsuri.org">info@scalamatsuri.org</a>. We might also contact you to ask about the session or to modify the content.</p>

  </div>
</section>
