<section class="section-conduct">
  <h2>Code of Conduct</h2>
  <div class="container">
    <p>Our Code of Conduct aligns with <a href="http://www.scaladays.org/#conduct" target="_blank">Scala Days</a>.</p>
    <p>Nobody likes a jerk, so please show respect for those around you. This applies to both in-person and online behavior.</p>
    <p>Scala Downunder is dedicated to providing a harassment-free experience for everyone, regardless of gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, or religion (or lack thereof). We do not tolerate harassment of participants in any form.</p>
    <p>All communication should be appropriate for a technical audience, including people of many different backgrounds. Sexual language, innuendo, and imagery is not appropriate for any conference venue, including talks.</p>
    <p>Participants violating these rules may be asked to leave without a refund at the sole discretion of the organizers.</p>
  </div>
</section>
