<section id="jobs" class="section-jobs">
  <h2>Jobs</h2>
  <div class="title-separator"></div>
  <div class="container open-positions">
    <script src='https://www.workable.com/assets/embed.js' type='text/javascript'></script>
    <script type='text/javascript' charset='utf-8'>
      whr(document).ready(function(){
        whr_embed(38558, {detail: 'titles', base: 'jobs', zoom: 'city', grouping: 'departments'});
      });
    </script>
    <div id="whr_embed_hook"></div>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        var target = $('#whr_embed_hook');
        var observer = new MutationObserver(function() {
          // remove non-NZ region headers
          target.find("> h2").filter(function() { return $.text([this]) !== 'Auckland, New Zealand'; }).remove();
          // remove non-NZ region contents
          target.find("ul").filter(function() { return $(this).find("h3:contains('Campaign Coordinator')").length !== 0; }).remove();
          target.find("ul").filter(function() { return $(this).find("h3:contains('Account Manager EMEA')").length !== 0; }).remove();
          target.find("ul").filter(function() { return $(this).find("h3:contains('Senior Account Manager - North America')").length !== 0; }).remove();
          // remove non-dev NZ jobs
          target.find("h3:contains('Support Manager')").remove();
        });
        observer.observe(document.querySelector('#whr_embed_hook'), { attributes: true, childList: true, characterData: true });
      });
    </script>
  </div>
</section>
