<section id="venue" class="section-location">
  <div class="venue">
    <div class="content">
      <svg class="venue-icon">
        <use xlink:href="#icon-venue" />
      </svg>
      <h2>The Venue</h2>
      <address>
        Auckland's Heritage Hotel<br>
        35 Hobson Street<br>
        Auckland City<br>
        <a href="http://www.heritagehotels.co.nz" target="_blank">www.heritagehotels.co.nz</a>
      </address>
    </div>
  </div>

  <div id="map" class="map"></div>

  <div class="hotel-photo"></div>

  <div class="hotel">
    <div class="content">
      <svg class="hotel-icon">
        <use xlink:href="#icon-hotel" />
      </svg>
      <h2>The Hotel</h2>
      <p>Scala Downunder has secured an exclusive room rate for conference attendees of NZ$179 per night. To secure this rate, please quote <span class="nowrap">'Scala Downunder'</span> when booking at the Heritage.</p>
    </div>
  </div>
</section>
