<section id="schedule" class="section-schedule">
  <svg class="section-icon">
    <use xlink:href="#icon-schedule" />
  </svg>
  <h2>Schedule (TBC)</h2>

  <ol class="schedule container">
    {% for schedule in site.data.schedule %}
      <li class="schedule-day">
        <div class="day">{{ schedule.day }}</div>

        {% if schedule.sessions %}
        <ol class="sessions">
          {% for session in schedule.sessions %}
            <li class="session {% if session.photo %}with-photo{% endif %}">
              {% if session.photo %}
                <div class="session-photo" style="background-image:url('resources/images{{session.photo}}')"></div>
              {% endif %}
              <div class="time">{{session.from}}{% if session.to %} - {{session.to}}{% endif %}</div>
              <ul class="tracks">
                {% for trackName in session.tracks %}
                  {% assign track = site.data.tracks[trackName] %}
                  <li class="track{% if track.description %} with-description{% endif %}">
                    <div class="track-name">{{track.name}}</div>
                    {% if track.type %}
                      <div class="track-type">
                        {% if track.type == 'person' %}
                          In person
                        {% elsif track.type == 'remote' %}
                          Remote video
                        {% elsif track.type == 'replay' %}
                          Replay
                        {% endif %}
                      </div>
                    {% endif %}
                    <ul class="track-speakers">
                      {% for speaker in track.speakers %}
                        <li class="track-speaker">
                          <span>{{speaker.name}}</span>
                          {% if speaker.twitter %}
                            (<a href="//twitter.com/{{speaker.twitter}}" target="_blank">@{{speaker.twitter}}</a>)
                          {% endif %}
                        </li>
                      {% endfor %}
                    </ul>
                    {% if track.description %}
                      <div class="track-description">
                        <div class="track-description-close"><span>Close ✖</soan></div>
                        <div class="track-description-name">{{track.name}}</div>
                        <div class="track-description-content">
                          {% if track.type %}
                            <div class="track-description-type">
                              {% if track.type == 'person' %}
                                In person, by
                              {% elsif track.type == 'remote' %}
                                Remote video, by
                              {% elsif track.type == 'replay' %}
                                Replay, by
                              {% endif %}
                            </div>
                          {% endif %}
                          {% for speaker in track.speakers %}
                            <ul class="track-description-speakers {% if speaker.bio %}with-bio{% endif %}">
                              {% if speaker.bio %}
                                {% assign bio = site.data.speakers[speaker.bio] %}
                                <li class="track-description-bio">
                                  <div class="track-description-bio-photo" style="background-image: url('resources/images/speakers/{{bio.photo}}')"></div>
                                  <div class="track-description-bio-name">{{bio.name}} {% if speaker.twitter %}(<a href="//twitter.com/{{speaker.twitter}}" target="_blank">@{{speaker.twitter}}</a>){% endif %}</div>
                                  <div class="track-description-bio-role">{{bio.role}}</div>
                                  <div class="track-description-bio-description">{{bio.description | markdownify}}</div>
                                </li>
                              {% else %}
                                <li class="track-description-speaker">
                                  {{speaker.name}} {% if speaker.twitter %}(<a href="//twitter.com/{{speaker.twitter}}" target="_blank">@{{speaker.twitter}}</a>){% endif %}
                                </li>
                              {% endif %}
                            </ul>
                          {% endfor %}
                          {{track.description | markdownify}}
                        </div>
                      </div>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ol>
        {% endif %}
      </li>
    {% endfor %}
  </ol>

  <div class="container light">
    <p>Day two will be unstructured hands-on unconference. A chance to play, debate and interact. We'll do some pairing and hacking so bring your laptops. There will be plenty of experienced Scala devs to assist where necessary. Options not limited to:</p>

    <ul class="styled">
      <li>Project Hacking</li>
      <li>Lightning Talks</li>
      <li>Intro workshops - get your hands dirty with Scala and/or Akka</li>
      <li>Scala Days Videos</li>
      <li>Work through the code from Day One presentations</li>
    </ul>
  </div>

</section>
