<section id="about" class="section-welcome">
  <h2>Welcome</h2>

  <div class="container">
    <p>Typesafe and Movio are excited to bring you the first ever Scala Downunder Conference to be held in Auckland, NZ on September 5 - 6.</p>

    <p>Bringing together the Scala Australian community, Scala Downunder offers exciting keynote presentations, expert guest speakers, and informal networking with fellow developers. A unique opportunity to share experiences and new ideas around creating applications with Scala and related Typesafe technologies. Not to be missed!</p>

    <p>Places are stictly limited for the inaugural conference so make sure you register to attend before Friday 15 August 2014.</p>
  </div>

  <div id="register" class="booking container">
    <p>Cost per person to attend will be</p>
    <div class="price">
      <span class="value">$165</span>
      <span class="currency">NZD</span>
    </div>
    <p>Includes all conference material, event T-shirt, and food and beverage during the conference. Accommodation, travel and additional meals are at the cost of each attendee.</p>
    <a href="http://scaladownunder.eventbrite.co.nz/?s=27049857" target="_blank" class="register">Register now</a>
  </div>
</section>
