<section id="about" class="section-welcome">
  <h2>Welcome</h2>
  <div class="title-separator"></div>

  <div class="container">
    <iframe class="welcome-video" src="https://www.youtube.com/embed/RsosFrKSUhY?rel=0" frameborder="0" allowfullscreen></iframe>

    <p>Typesafe and Movio brought you the first ever Scala Downunder Conference that was held at Movio HQ, Auckland on 5 - 6 September 2014.</p>

    <p><strong>Mark up your calendar for the next edition – 19-20 February 2016!</strong></p>

    <p>Scala Downunder brings together the Scala Australasian community with the first day offering a program of keynote presentations, expert guest speakers, and informal networking with fellow developers. The second day is more hands on, with workshops for both beginner and advanced Scala developers, and pairing sessions.</p>

    <p>Scala Downunder is a unique opportunity to share your experiences and new ideas around creating applications with Scala, and functional programming technologies.</p>

    <p><strong>Be one of our 2016 speakers, apply for our call for papers <a href="#">now</a>.</strong></p>

    <p>Watch 2014 Keynote speaker Jonas Bonér, CTO & Co-Founder of Typesafe  - “A 5 year retrospective and the future of distributed computing”.</p>

    <p><a href="https://www.youtube.com/channel/UCNq3ohzE6_rYhI6wADiBvAw">Subscribe to our YouTube</a> for all our video updates.</p>

    <iframe class="welcome-video" src="https://www.youtube.com/embed/ODRtDSfkGJM?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>

  <!-- <div id="register" class="booking container">
    <p>Cost per person:</p>
    <div class="price">
      <span class="value">$165</span>
      <span class="currency">NZD</span>
    </div>
    <p>Includes all conference material, event T-shirt, and food and beverages during the conference. Accommodation, travel and additional meals are at the cost of each attendee.</p>
    <a class="register" disabled="disabled">Coming soon</a>
    <div class="soldout">Sold out</div>
  </div> -->
</section>
