<section id="about" class="section-welcome">
  <h2>Welcome</h2>

  <div class="container">
    <p>Typesafe and Movio are excited to bring you the first ever Scala Downunder Conference, September 5 – 6 in Auckland, NZ.</p>

    <p>Bringing together the Scala Australasian community, the first day of Scala Downunder will offer a program of keynote presentations, expert guest speakers, and informal networking with fellow developers. The second day will be more hands on, with workshops for both beginner and advanced Scala developers, pairing sessions and Scala Days video replays. This is a unique opportunity to share your experiences and new ideas around creating applications with Scala, and related Typesafe technologies.</p>

    <p>Places are strictly limited for this inaugural conference, so make sure you register to attend before <span class="nowrap">Friday 15 August 2014</span> to avoid disappointment.</p>
  </div>

  <div id="register" class="booking container">
    <p>Cost per person:</p>
    <div class="price">
      <span class="value">$165</span>
      <span class="currency">NZD</span>
    </div>
    <p>Includes all conference material, event T-shirt, and food and beverages during the conference. Accommodation, travel and additional meals are at the cost of each attendee.</p>
    <a href="https://www.eventbrite.co.nz/e/scala-downunder-tickets-12375741175?ref=estw" target="_blank" class="register">Register now</a>
  </div>
</section>
