*, *::before, *::after {
  box-sizing: border-box;
}

body {
  color: @color;
  font-size: 18px;
}

section {
  padding: 1em;
}

.container {
  display: block;
  max-width: @container-max-width;
  margin: 0 auto;
}

p {
  text-align: justify;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
