body {
  color: @color;
  font-size: @font-size;
}

section {
  padding: @section-padding;
}

.container {
  display: block;
  max-width: @container-max-width;
  margin: 0 auto;
}

p {
  text-align: justify;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.section-icon {
  display: block;
  margin: 0 auto;
  width: @section-icon-size;
  height: @section-icon-size;
}
