.section-logo {
  min-height: @logo-min-height;
  text-align: center;
  background-color: @blue;
  background-image: url("./images/header-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  padding: @section-padding;

  @media (min-width: @screen-md-min) {
    background-image: url("./images/header.jpg");
  }

  .section-icon {
    position: relative;
    top: @logo-top;
    width: @logo-size;
    height: @logo-size;
    fill: @logo-color;
  }
}
