.section-welcome {
  h2 {
    text-align: center;
    color: @welcome-title-color;
  }

  .booking {
    color: @welcome-booking-color;
    background-color: @welcome-booking-bg;
    text-align: center;
    padding: @welcome-booking-padding;

    p {
      text-align: center;
    }

    .price {
      color: @welcome-booking-color-alt;

      .value {
        font-size: 2em;
      }
    }

    .register {
      display: inline-block;
      color: @welcome-booking-color-alt;
      border: @welcome-register-border;
      padding: @welcome-register-padding;
      text-decoration: none;
      text-transform: uppercase;
      .transition(color @transition-duration, background-color @transition-duration;);

      &:hover {
        background-color: @welcome-booking-color-alt;
        color: #fff;
      }
    }
  }
}
