<!DOCTYPE html>
<html>

  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
      <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1" />
      <meta name="format-detection" content="telephone=no">
      <meta name="apple-mobile-web-app-capable" content="yes" />
      <meta name="apple-mobile-web-app-status-bar-style" content="black" />
      <meta name="msapplication-tap-highlight" content="no"/>
      <meta name="description" content="{{ site.description }}">

      <!-- Open Graph data -->
      <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="scaladownunder.org/" />
      <meta property="og:image" content="http://scaladownunder.org/resources/images/sdu-opengraph-small.jpg" />
      <meta property="og:image:type" content="image/jpeg" />
      <meta property="og:image:width" content=“600" />
      <meta property="og:image:height" content="314" />
      <meta property="og:description" content="{{ site.description }}" />
      <meta property="og:site_name" content="Scala Downunder" />

      <!-- Twitter Card data -->
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:site" content="@ScalaDownunder">
      <meta name="twitter:creator" content="@ScalaDownunder">

      <link href="favicon.png" rel="shortcut icon" type="image/png">
      <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

      <!-- build:css resources/app.min.css -->
      <link rel="stylesheet" href="resources/app.css">
      <!-- endbuild -->

      <link href='http://fonts.googleapis.com/css?family=Cantarell' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Josefin+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

      {% if site.future %}
      <script  type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-53159223-1', 'auto');
        ga('send', 'pageview');
      </script>
      {% endif %}
  </head>

  <body>
    {% include icons.svg %}

    {{ content }}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"  type="text/javascript"></script>
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1bBw-e7GJmvCJrKVvSP-qy7X8IG2ffKY"></script> -->
    <!-- build:js resources/app.min.js -->
    <script src="resources/app.js"  type="text/javascript"></script>
    <!-- endbuild -->

  </body>
</html>
